@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a sample ASP.NET Core MVC web application with EF Core and Azure cloud hosting. Steps for creating this application can be found <a href="http://knambiar.com/asp-net-core-to-do-list-app-part-1/">here</a>.</p>
